src/main/mule/testqueue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-pub-sub="http://www.mulesoft.org/schema/mule/salesforce-pub-sub" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http
  http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/ee/core
  http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
  http://www.mulesoft.org/schema/mule/sqs
	http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/salesforce-pub-sub http://www.mulesoft.org/schema/mule/salesforce-pub-sub/current/mule-salesforce-pub-sub.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sqs:config name="Amazon_SQS_Configuration" doc:name="Amazon SQS Configuration" doc:id="3a2a37e9-4eea-4409-b9db-ddc9d7734917" >
		<sqs:basic-connection testQueueArn="arn:aws:sqs:us-east-1:263584434972:bicsTest.fifo" accessKey="AKIAT2XW3JMOPIO62RU2" secretKey="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" />
	</sqs:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="e0e1e169-440d-4f8c-b530-40b4a908d038" >
		<file:connection workingDir="${mule.home}/apps/${app.name}" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="627d3f32-0175-4012-b6c5-757d32ad28fd" >
		<db:my-sql-connection host="bics.cydayjrmccnx.us-east-1.rds.amazonaws.com" port="3306" user="bics" password="bics" database="bics" />
	</db:config>
	<salesforce-pub-sub:pubsub-config name="Salesforce_PubSub_Config" doc:name="Salesforce PubSub Config" doc:id="b368ed69-836b-4f09-9a1f-d93370d54eb6" >
		<salesforce-pub-sub:basic-connection username="heng.cai@wise-bear-42dslc.com" password="Caiheng123" securityToken="MIaRYASRjwmfodc2fAVXCqDC" />
	</salesforce-pub-sub:pubsub-config>
	<flow name="sqs-receive-message-flow" >
		<sqs:receivemessages doc:name="Receive messages" config-ref="Amazon_SQS_Configuration" queueUrl="https://sqs.us-east-1.amazonaws.com/263584434972/bicsTest.fifo" waitTime="0" preserveMessages="true" primaryNodeOnly="true"/>
		<set-variable value="#[attributes.'sqs.message.receipt.handle']" doc:name="Set Variable" doc:id="72de851e-4208-4bfd-b0eb-3214c7528ce3" variableName="handle"/>
		<db:insert doc:name="Insert" doc:id="dc298759-c1c0-47a7-8bb3-653bb72a98be" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customer2 (cid, val,replayId,sfdcId) 
VALUES (:cid, :val,:replayId,:sfdcId)
ON DUPLICATE KEY UPDATE val=VALUES(val);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{cid:attributes.updateValue.stringValue, 
 val:attributes.updateValue.stringValue,
 replayId:attributes.replayId.stringValue,
 sfdcId:attributes.customerId.stringValue
}]]]></db:input-parameters>
		</db:insert>
		<sqs:delete-message doc:name="Delete message" doc:id="c2633b37-8299-4626-96a8-c024048d446f" config-ref="Amazon_SQS_Configuration" receiptHandle="#[vars.handle]" queueUrl="https://sqs.us-east-1.amazonaws.com/263584434972/bicsTest.fifo"/>
	</flow>

</mule>
